# Ignore all except unignored folders/files
/*
**/__pycache__/

# Unignored files
!.gitignore
!poetry.lock
!pyproject.toml
!README.md
!.pre-commit-config.yaml
!tox.ini
!ruff.toml
!data/neat_config

# Unignored folders
!src/
!tests/
